<h4>Fantasy Leagues</h4>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @fantasy_leagues.each do |fantasy_league| %>
      <tr>
        <td><%= link_to fantasy_league.name, fantasy_league %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fantasy league', new_fantasy_league_path %>
