<h4>Team Byes</h4>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Team</th>
      <th>Week</th>
    </tr>
  </thead>

  <tbody>
    <% @byes.each do |bye| %>
      <tr>
        <td><%= image_tag("team_logos/#{bye.team.key}.png", width: "25", alt: bye.team.name)%> <%= bye.team.full_name %></td>
        <td><%= bye.week %></td>
      </tr>
    <% end %>
  </tbody>
</table>
