<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fantasy_draft_style.name %>
</p>

<%= link_to 'Edit', edit_fantasy_draft_style_path(@fantasy_draft_style) %> |
<%= link_to 'Back', fantasy_draft_styles_path %>
