.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    *zoom: 1;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

body#draft_board_layout{
    margin:0;
    padding:0;
    height:1500px;
    background: rgb(125,126,125); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
}
#board_logo{
    float:left;
    width:60px;
    margin-left: 20px;
    margin-right: 10px;
}

#board_name{
    float:left;
    font-size: 50px;
    margin-top: 25px;
    color:white;
    text-shadow: 2px 4px 2px #525252;
}

#board_name_default{
    float:left;
    font-size: 50px;
    margin-top: 25px;
}

#board_name_default a{
    color:black;
}

#board_name_default a:hover{
    text-decoration: none
}

.draft_board_league_row{
    border-top:2px solid #565656;

    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

    -webkit-box-shadow: 2px 4px 9px 0px #525252;
    box-shadow: 2px 4px 9px 0px #525252;


    height:40px;
    width: 100%;
    margin-top: 5px;
}

.draft_board_league_name{
    text-align: center;
    font-size: 30px;
    line-height: 35px;
    font-weight: bold;
    text-shadow: 0px 1px 1px #999;
    color:#565656;
}

#draft_board{
    margin-top: 20px;
    width: 100%;
    height: 100%;
    border:1px solid #999;
    background-color: white;
    overflow: auto;
    background-image: url(image-path('armchair.png'));
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;


    .draft_board__round_column{
        margin: none;
        padding: none;
        list-style-type: none;
        float: left;
        background-color: #ECECEC;
        width:3%;

        li{
            display: block;
            border-right: 1px solid #999;
            border-bottom: 1px solid #999;
            height:45px;
            text-align: center;
            line-height: 45px;
            &:first-child{
                overflow: hidden;

            }
        }

    }

    .draft_board__column{
        margin: none;
        padding: none;
        list-style-type: none;
        float: left;

        width:8.083%; // This needs to be calculated within the code

        li{
            display: block;
            border-right: 1px solid #999;
            border-bottom: 1px solid #999;
            height:45px;

            &:first-child{
                overflow: hidden;
                line-height: 45px;
                text-align: center;

            }

            &.QB{
                background-color: #95bde3;
                color:black;
            }

            &.RB{
                background-color: #fc9e5e;
                color:black;
            }

            &.WR{
                background-color: #e8e887;
                color:black;
            }

            &.TE{
                background-color: #d195ec;
                color:black;
            }

            &.K{
                background-color: #96e299;
                color:black;
            }

            &.DEF{
                background-color: #ffb6b6;
                color:black;
            }

            .draft_pick_card{
                // margin: 1px;
                padding: 2px;
                text-align: center;

                .label{
                    font-size: 10px;
                    padding:2px 3px;
                }

                .first_name{

                }
                .last_name{
                    font-weight: bold;
                    font-size: 16px;
                }



            }
        }


    }
}

.draft_order{
    margin: none;
    padding: none;
    margin-top: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;

    .draft_order__slot{


        -webkit-box-shadow: 2px 4px 9px 0px #525252;
        box-shadow: 2px 4px 9px 0px #525252;
        list-style-type: none;
        display:inline-block;
        width:auto;
        min-width: 100px;
        padding:5px;
        height:50px;
        border:1px solid #999;
        text-align: center;
        background-color: #fff;
        line-height: 50px;
    }


    .draft_order__slot:first-child{
        background-color: #b6d9ff;
    }

}

.otb_container{
    width: 100%;
    margin-top: 20px;
    padding:10px;
    background-color: white;

    .otb_info{
        margin-top: 5px;
        width:100%;

        .otb_table{
            width: 100%;
            margin-top: 10px;

            tr{
                border-bottom: 1px solid #cccccc
            }

            tr:first-child{
                border-top: 1px solid #cccccc
            }

            .title{
                width: 50%;
                text-align: right;
                padding-right: 10px;
            }
            .stat{
                width: 50%;
                font-weight: bold;
            }

        }

        .first_name, .last_name{
            font-size: 20px;
            line-height: 25px;
            color:#6b6b6b;
        }

        .last_name{
            color:#494949;
            font-weight: bold;
        }

        .team_logo{
            margin-right: 10px;
        }

    }
}

.next_pick_container{
    width: 100%;
    height:auto;
    margin-top: 20px;
    padding:10px;
    text-align: center;
    background-color: white;

    .next_pick{
        font-size: 20px;
        line-height: 30px;
        border-bottom: 2px solid #b2b2b2;
    }

    .name{
        margin-top: 5px;
        font-size: 25px;
        line-height: 50px;
        color:#3f3f3f;
    }

    .owner{
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 18px;
        color:#565656;
    }


}


.previous_draft_picks{
    width: 100%;
    height:500px;
    max-height: 500px;
    overflow: scroll;
    margin-top: 20px;
    padding:10px;
    background-color: white;
}

@media all and (max-width: 1800px) and (min-width: 900px) {

    #draft_board{
        .draft_board__column{
            li{
                .draft_pick_card{
                    .label{
                        font-size: 8px;
                        padding:2px 3px;
                    }

                    .first_name{
                        font-size: 8px;
                    }
                    .last_name{
                        font-weight: bold;
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .draft_board__column{
        li:first-child{
            font-size: 9px;
        }
    }

}

