<!DOCTYPE html>
<html>
<head>
  <title>Players</title>
  <meta content="width=device-width, minimum-scale=1, maximum-scale=1" name="viewport">
  <%= stylesheet_link_tag    'jquery.mobile' %>
  <%= javascript_include_tag 'application', 'jquery.mobile' %>
  <%= csrf_meta_tags %>

</head>
<body>
    <%= yield %>
</body>
</html>
